menu "Drivers"

config NX_DRIVER_DUMMY
    bool "Enable dummy device"
    default y

config NX_DRIVER_NULL
    bool "Enable null device"
    default y

config NX_DRIVER_ZERO
    bool "Enable zero device"
    default y

endmenu
