config NX_PLATFORM_NAME
    string "Platform name"
    default "Unknown"

#
# CPU numbers
#
config NX_MULTI_CORES_NR
    int "platform CPU core numbers"
    default 1

config NX_ENABLE_PLATFORM_MAIN
    bool "Enable call platform main"
    default y
