source "$NXOS_SRC_DIR/fs/cpio/Kconfig"
source "$NXOS_SRC_DIR/fs/devfs/Kconfig"

config NX_ENABLE_EXECUTE_USER
    bool "Enable execute first user process"
    select NX_ENABLE_MOUNT_TABLE
    default n

    if NX_ENABLE_EXECUTE_USER
    
        config NX_FIRST_USER_PATH
            string "first user process file path"
            default "/uinit"

    endif

config NX_ENABLE_MOUNT_TABLE
    bool "Enable default mount table"
    default n

    if NX_ENABLE_MOUNT_TABLE
        config NX_MOUNT_DEVICE_DEFAULT
            string "default mount device"
            default "romdisk0"

        config NX_MOUNT_PATH_DEFAULT
            string "default mount root path"
            default "/"

        config NX_MOUNT_FSNAME_DEFAULT
            string "default mount fsname"
            default "cpio"
            
        if NX_FS_DEVFS
            config NX_DEVFS_PATH_DEFAULT
                string "default devfs mount path"
                default "/dev"

            config NX_DEVFS_FSNAME_DEFAULT
                string "default devfs fsname"
                default "devfs"
        endif

    endif

config NX_VFS_MAX_PATH
    int "vfs max path length" 
    default 512

config NX_VFS_MAX_NAME
    int "vfs max name length" 
    default 256

config NX_VFS_MAX_FD
    int "vfs max file descriptor number" 
    default 256

config NX_VFS_NODE_HASH_SIZE
    int "vfs max node hash list size" 
    default 256
